/* TOP LEVEL STYLES */


/* DROPDOWN ITEM STYLES */
.drop-down-item-container {
  display: flex;
  background-color: red;
}


.image-container {
  flex : 1;
  background-color: blue;
}

.user-name-container {
  flex : 4;
  background-color: yellow;
}

.profile-image {
  width: 2rem;
  height : 2rem;
}